@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bWidth: 250px;
  --bHeight: 150px;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  overflow-x: hidden;
}

.active {
  color: #fff;
  border-color: #fff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(var(--bWidth) * -8))
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  width: 100%;
  
  .slide-track {
    width: calc(var(--bWidth) * 16);
    animation: scroll 35s linear infinite;
    display: flex;
  }

  .slide {
    height: var(--bHeight);
    width: var(--bWidth);
  }
  
  @media screen and (max-width: 768px) {
    --bWidth: 150px;
    --bHeight: 100px;
  }
}

.active-service {
  div {
    transition: .5s ease all;
  }

  display: flex;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    height: 8px;
    width: 8px;
    content: '';
    margin-left: -2rem;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.snap-proximity::-webkit-scrollbar {
  display: none;
}

.snap-proximity {
  -ms-overflow-style: none;
  scrollbar-width: none;
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.grabbing {
  transform: translateY(-5px);
  transform: scale(1.01);
  cursor: grabbing;
}
.header-bg {
  background-position-x: right;
  background-position-y: bottom;
}

.shape-bottom {
  bottom: -5rem;
  left: -5px;
  right: -5px;
  height: 30rem;
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.animate-background {
  background-size: 300%;

  -webkit-animation: backgroundMoveAnimation 10s ease-in-out infinite;
  -moz-animation: backgroundMoveAnimation 10s ease-in-out infinite;
  animation: backgroundMoveAnimation 10s ease-in-out infinite;
}

@keyframes backgroundMoveAnimation {

  0%,
  100% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.bg-shape:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  top: -100px;
  right: 0;
  left: 0;
  z-index: -1;
}