@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bWidth: 250px;
  --bHeight: 150px;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  overflow-x: hidden;
}

.active {
  color: #fff;
  border-color: #fff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(var(--bWidth) * -8))
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  width: 100%;
  
  .slide-track {
    width: calc(var(--bWidth) * 16);
    animation: scroll 35s linear infinite;
    display: flex;
  }

  .slide {
    height: var(--bHeight);
    width: var(--bWidth);
  }
  
  @media screen and (max-width: 768px) {
    --bWidth: 150px;
    --bHeight: 100px;
  }
}
