@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.active {
  color: #fff;
  border-color: #fff;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8))
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  width: 100%;
  
  .slide-track {
    width: calc(250px * 16);
    animation: scroll 40s linear infinite;
    display: flex;
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}